/* src/Paint.css */

.paint {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}
  
  .paint h2 {
    margin-top: 0;
    font-size: 22px;
    color: rgb(95, 23, 10);
  }
  
  input[type="color"] {
    display: block;
    margin: 5px 0;
  }
  
  input[type="range"] {
    display: block;
    margin: 5px 0;
  }

  .paint-toolbar {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    background-color: #f0f0f0;
    justify-content: left; /* Center buttons within container */
  }

  .button-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
    justify-content: left; /* Center buttons within container */
    max-height: 150px;
  }
  
  .button-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    max-height: 50px;
    flex: 1 1 auto; /* Allow buttons to grow and shrink */
    margin: 5px 0;
    white-space: nowrap; /* Prevent text from wrapping */
    max-width: auto; /* Allow buttons to grow based on content */
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }

  .button-container h3 {
font-size: 19px;
color: black;
  }